* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.background-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  height: 100vh;
  width: 100vw;
  padding: 1em;
}
.text-container {
  color: #fff;
  margin-bottom: 6em;
}
code {
  color: green;
  background: #fff;
  padding: 0.2em;
}
.text-container h1 {
  text-align: center;
}
.text-container h1:last-child {
  margin-top: 1em;
  text-align: center;
}
